body {
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    width: 99,5vw;
    background-color: #53a599;
}
.mainmenu {
    width: 100%;
    display: inline-flex;
    height: 8vh;
    margin-bottom: 5px;
}
.mainmenu__list {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #afbbfa;
    display: flex;
    width: 100%;
}
a {
    color: rgb(253, 253, 253);
    font-size: 30px;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}
a:hover {
filter: invert(15%);
    
}
.mainmenu li {
    list-style: none;
    margin-top: 7px;
    height: 61%;
    width: 43%;
    text-align: center;
    vertical-align: middle;  
}
.mainmenu__link {
    display: block;
    color: #000;
    text-decoration: none;
    background-color: #fff;
}
.mainmenu__link:hover {
    text-decoration: none;
    background-color: darkgray;
    color: #fff;
}
.mainmenu__link.active {
    text-decoration: none;
    background-color: #000;
    color: rgb(20, 159, 64);
}

.mainmenu__link_2,
.mainmenu__link_1
{
    background-color:rgba(131, 203, 157, 0.7);
    width: 100%;
    border: 4px solid rgb(131, 203, 157);
    border-radius: 25px;
    margin-left: 5%;
    
}
.mainmenu__link_2:hover{
    background-color: rgb(131, 203, 157);
}
#table {
    background-color:#afbbfae3;
    border-radius: 15px;
    width: 40%;
    margin:auto;
    margin-top: 90px;
}
.points {
    color: #f8fffe;
    font-size: 23px;
    margin: 4px;
}